.pagecontainer {
    height: 110vh;
    width: 100%;
   
}
/* Styles.css */


.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

}

@media (min-height:380px) {
    .login{
        justify-content: flex-start; /* Allinea in basso per schermi più alti di 650px */
        margin:150px;
    }
}

@media (max-width: 1998px) {
    .login {
        justify-content: center; /* Allinea in basso per schermi più piccoli */
        margin: 25px; /* Riduce il margine per schermi più piccoli */
    }
}