  /*css per pryvacy */
  body {
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
   background-color: rgb(14, 123, 224);
  }
  
  .setting {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .icon {
    font-size: 50px;
    margin-right: 20px;
  }
  
  .label {
    font-size: 18px;
  }
  
  .link {
    margin-left: auto;
    color: #f6f7f5;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .privacyContent {
    display: flex;
    align-items: center;
  }
  
  .privacyIcon {
    width: 120px;
    height: 100px;
    margin-right: 20px;
  }
  
  .consent input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .consent label {
    font-size: 16px;
    cursor: pointer;
  }
  .description {
    padding: 20px;
    background-color: #60a5f4; /* Colore sabbia */
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .description h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 10px;

  }
  
  .description h3 {
    font-size: 16px;
  }