.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0b0b0b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #0f6fdd;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    color: #f6f0f0;
    margin-bottom: 20px;
  }
  
  .form {
    margin-bottom: 30px;
  }
  
  .form h3 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
  }
  h3{
    color: #ffffff;
  }
  
  .form label {
    font-size: 16px;
    color: #fffdfd;
    margin-bottom: 5px;
  }
  h4{
    color: #ffffff;
  }
  label{
    color: #ffffff;
  }


  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fffdfd;
    border-radius: 5px;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form button:hover {
    background-color: #45a049;
  }
  
  .feedback,
  .complaint,
  .assistance {
    margin-bottom: 30px;
  }
  
  .feedback p,
  .complaint p,
  .assistance p {
    font-size: 16px;
    color: #fffbfb;
    margin-bottom: 10px;
  }
  .form__GZXoM label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
  }